.content {
    width: 100%;
    padding: .34rem;
    button{
        margin-top: .24rem;
    }
}
.content-money {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3.32rem;
    background-image: linear-gradient(to top right,#ff5542,#fc943a);
    margin-bottom: 1.5rem;
    box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.1);
    border-radius: .1rem;
    color: #fff;
    font-size: .28rem;

}
.f-94{
    font-size: .94rem;
}
.radio-group {
    padding: .24rem;
    .van-radio{
        margin-top: .24rem !important;
    }
}